ServerConfig:
  AppVersion:  
  Mode:  
  RoutePrefix:  
  Debug:  
  Port:  
  TimeoutSecs:  
  ReadTimeoutSecs:  
  WriteTimeoutSecs:  

JWTConfig:
  SessionTime:  
  SecretKey:  

DBConfig:
  DataSourceName:
  MaxOpen: 
  MaxIdle: 
  MaxLifetime: 

LoggerConfig:
  Development:
  Encoding:
  Level: 

LoggerConfig22:
  Level:  
  File:  
  Console:  
  MaxSize:  
  MaxAge:  
  MaxBackups:  
  Compress: